
.App{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
.slick-slide > div {
    margin: 0 10px;
}
.slick-list {
    margin: 0 -10px;
}

.card{
    /* border: 1px solid red; */
    background-color: white;
    border-radius : 8px;
    overflow: hidden;
    height: 400px;
    color: black;
    font-size: 18px;
    height: 350px;

}

.cardtop > img{
    width: 280px;
    height: 350px;
    object-fit: center;
    border-radius: 5px;
    margin: auto;
    background-size: cover;

}
